 .flex-wrapper > header {
  margin-top: 120px;
  position: relative;
  z-index: 300;
  height: 400px;
  /* width: 100%; */
  background-color: coral;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: white;
  transition: background-color 0.5s;
}

.profile-pic {
  display: block;
  margin: 0 auto 45px;
}

header h2 {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .flex-wrapper > header {
    margin-top: 107px;
    background-color:coral;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    transition: background-color 0.5s;

  }


}