body > header {
  margin-top: 120px;
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #b84a00;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.profile-pic {
  display: block;
  margin: 0 auto;
}

header h2 {
  text-align: center;
}