nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  width: 100vw;
  padding: 1.5em;
  z-index: 3000;
  background-color: coral;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  transition: background-color 0.5s;
  color: #FFFFFF; 
}

h1 {
  font-family: "Bungee";
  font-size: inherit;
  margin: 0;
  align-self: center;
}

.nav-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 0.8em;
  font-weight: 400;
  cursor: pointer;
}

.nav-button img {
  padding-top: 5px;
}

.btn-off {
  display: none;
}

@media only screen and (min-width: 768px) {
  nav {
  background-color: #4056a1;
  background-image: none;
  transition: background-color 0.5s;
  }
}

