.new-tweet {
  display: none;
  background-color: transparent;
  /* margin-top: -195px; */
  transition: margin 1s;
  transition-timing-function: linear;
}

.new-tweet textarea {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border: none;
  background-color: inherit;
  color: #545149;
  border-bottom: 2px solid #545149;
}


.new-tweet input {
  border: none;
  border-radius: 5px;
  font-family: "Bungee";
  font-size: 0.75em;
  padding: 5px;
  background-color: #4056A1;
  color: #FFFFFF; 
}

.counter {
  font-family: "Bungee";
  font-size: 0.75em;
  float: right
}

.error {
  display: none;
  font-family: "Bungee";
  font-size: 0.75em;
  color: red;
}

.red-font {
  color: red;
}

.up {
  margin-top: 0;
  transition: all 1s;
}

.show {
  display: block;
}