.tweet {
  border: 3px solid #545149;
  width: 100%;
  margin-top: 20px;
  padding: 5px 10px 5px;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

.tweet-header div {
  display: flex;
  align-items: center;
}

.userphoto {
  vertical-align: bottom;
}

.tweet-main {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 3px solid #545149;
  font-weight: 300;
  word-break: break-word;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.6em;
  padding: 0 10px;
}

.tweet-footer ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.tweet-footer li {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 0 0 10px;
}

.tweet:hover {
  box-shadow: 10px 10px 10px grey;
  font-weight: 400;
}

.tweet:hover header,
.tweet:hover main, 
.tweet:hover footer {
  font-weight: 400;
}

.username {
  color: transparent;
}

.tweet:hover .username {
  color: lightgrey;
}
